numpy>=1.23.0
scipy
matplotlib
pretty_midi
mir_eval
dtaidistance
soundfile
librosa
onnxruntime
basic-pitch
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
piano_transcription_inference